# Telegram Bot (для формы обратной связи)
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id

# Аналитика
NEXT_PUBLIC_YM_ID=99860336
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Домен
NEXT_PUBLIC_DOMAIN=https://avgustbrows.ru
